* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --body-background-color: #e4d5a9;

    --pricipal-color: #746852;
    --secondary-color: #ffffff25;

    --principal-font: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    background: var(--body-background-color);
}

div#container {
    width: 328px;

    font-family: var(--principal-font);
    font-weight: 300;
    text-align: center;
    color: var(--pricipal-color);

    margin: 0 auto;
}


img#profilePhoto {
    width: 200px;
    height: 200px;

    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: var(--pricipal-color);

    margin: 120px 0 15px 0;
    padding: 3.5px;

    justify-content: center;
    transition: transform .3s;
}

img#profilePhoto:hover {
    transform: scale(1.1);
}

a {
    color: inherit;
}

p {
    font-size: 16px;
    margin-bottom: 33px;
}

ul#listaLinks {
    font-weight: 600;
    color: var(--pricipal-color);
    text-transform: uppercase;
}

ul#listaLinks li {
    position: relative;
    font-weight: 600;

    border-radius: 5px;
    border-style: solid;
    border-width: 2px;

    padding: 12px 0 13px 0;
    margin-bottom: 16px;
    transition: transform .3s;
}

ul#listaLinks li:hover {
    transform: scale(1.02);
    background-color: var(--secondary-color);
}

/* (Configurações para quando os ícones das redes sociais ficarem abaixar da lista não ordenada) 

div#redesSociais {
    width: 326px;
    margin-top: 68px;
}

div#redesSociais a {
    margin-left: 25px;
}
*/

svg {
    position: absolute;
    top: 25%;
    left: 25%;
}

svg path {
    stroke: var(--pricipal-color);
}

svg#email path {
    stroke: var(--pricipal-color);
    stroke-width: .1px;
    fill: var(--pricipal-color);
}

@media  (max-width: 1366px) and (max-height: 768px) {
    img#profilePhoto {
        width: 100px;
        height: 100px;

        margin: 80px 0 5px 0;
    }

    div#container {
        width: 255px;
    }

    p {
        font-size: 13px;
        margin-bottom: 15px;
    }

    ul#listaLinks {
        font-size: 12px;
    }

    ul#listaLinks li {
        border-width: 1.6px;
    }

    svg {
        width: 20px;
        height: 20px;
    }
}